* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

    .container-menu {
        width: 17%;
        height: 100%;
        padding: 5px;
        padding-top: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        background: rgba(3, 3, 66, 0.951);

        .perfil-hotel {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }

            h2 {
                color: white;
            }
        }

        .menu-opciones {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;

            .opciones {
                a {
                    text-decoration: none;
                    color: white;
                    padding: 10px;
                    border-radius: 5px;
                    transition: 0.3s;
                    display: flex;
                    // justify-content: center;
                    // align-items: center;

                    &:hover {
                        background: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
    }

    .container-main {
        display: flex;
        flex-direction: column;
        width: 83%;
        height: 100%;

        .menu-navegacion {
            display: flex;
            justify-content: space-between;
            height: 9%;
            background: rgb(34, 75, 142);
            padding: 5px;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .home-link {
                text-decoration: none;
                font-size: 24px;
                color: #1e1e1e;
                display: inline-flex;
                align-items: center;
                transition:
                    transform 0.3s ease,
                    color 0.3s ease;

                i {
                    margin-right: 8px;
                }

                &:hover {
                    transform: scale(1.1);
                    color: #3c95f5;
                }
            }

            p {
                a {
                    // text-decoration: none;
                    color: white;
                }
            }

            .perfil {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-left: auto;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }
        }

        // TODO EL CONTENIDO QUE SE VEA EN EL CONTENIDO PRINCIPAL
        .contenido {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 84%;

            //? PARA LAS RESERVAS QUE EL RECEPCIONISTA VA A VER
            .reservas {
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                flex-direction: column;

                .menu-navigation {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    gap: 20px;
                    width: 100%;
                    height: 8%;
                    background: rgba(30, 130, 172, 0.853);

                    ul {
                        display: flex;
                        // gap: 20px;
                        list-style: none;
                        padding: 10px;
                        width: 70%;
                        justify-content: space-between;

                        li {
                            a {
                                text-decoration: none;
                                color: white;
                                padding: 10px;
                                border-radius: 5px;
                                transition: 0.3s;
                                display: flex;
                                // justify-content: center;
                                // align-items: center;

                                &:hover {
                                    background: rgba(255, 255, 255, 0.1);
                                }
                            }
                        }
                    }
                }

                .reserva-contenido {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // align-items: flex-start;
                    flex-direction: column;
                    padding: 10px;
                    height: 90%;
                    width: 100%;
                    // overflow-y: scroll;

                    img {
                        width: 800px;
                        height: 500px;
                        border-radius: 10px;
                    }

                    //? PARA MOSTRAR EL HISTORIAL DE LAS RESERVAS
                    .historial-reservas {
                        padding: 5px;
                        background-color: #f8f9fa;
                        margin: 0 auto;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        h1 {
                            text-align: center;
                            font-size: 2em;
                            color: #343a40;
                            animation: fadeIn 1s ease-in-out;
                            // background: #0056b3;
                        }

                        .buscar-reservas {
                            justify-content: space-between;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10px;
                            width: 100%;
                            background-color: #ffffff;
                            border-radius: 10px;
                            box-shadow: 0 5px 8px rgba(14, 50, 208, 0.234);

                            #formBusqueda {
                                width: 60%;
                                display: flex;
                                gap: 15px;
                                justify-content: center;
                                align-items: center;

                                .input-contenedor {
                                    position: relative;
                                    width: 100%;
                                    max-width: 400px;

                                    .input-busqueda {
                                        width: 100%;
                                        padding: 10px 20px 10px 40px; /* Espacio para el icono a la derecha */
                                        border: 1px solid #ddd;
                                        border-radius: 5px;
                                        font-size: 16px;
                                    }

                                    .icono-busqueda {
                                        position: absolute;
                                        top: 50%;
                                        left: 15px; /* Ajusta según sea necesario */
                                        transform: translateY(-50%);
                                        color: #888; /* Color del icono */
                                        cursor: pointer;
                                        font-size: 16px;
                                    }
                                }
                                /* Icono de búsqueda más grande en pantallas pequeñas */
                                @media (max-width: 768px) {
                                    .icono-busqueda {
                                        font-size: 18px;
                                        right: 10px; /* Ajusta según sea necesario */
                                    }
                                }

                                .fecha-rango {
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                }

                                .input-fecha {
                                    padding: 8px;
                                    border: 1px solid #ddd;
                                    border-radius: 5px;
                                    font-size: 14px;
                                }

                                .fecha-reserva {
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                }

                                .btn-buscar {
                                    padding: 10px 20px;
                                    background-color: #007bff;
                                    color: #ffffff;
                                    border: none;
                                    border-radius: 5px;
                                    cursor: pointer;
                                    font-size: 16px;
                                    transition: background-color 0.3s ease;

                                    &:hover {
                                        background-color: #0056b3;
                                    }
                                }
                            }

                            .opciones-ordenacion {
                                width: 40%;
                                display: flex;
                                gap: 15px;
                                justify-content: center;
                                align-items: center;

                                .select-ordenar {
                                    padding: 8px;
                                    border: 1px solid #ddd;
                                    border-radius: 5px;
                                    font-size: 14px;
                                    width: 100%;
                                    max-width: 200px;
                                }
                            }
                        }

                        /* Responsivo */
                        @media (max-width: 768px) {
                            .buscar-reservas {
                                max-width: 95%;
                                padding: 15px;
                            }

                            .input-busqueda,
                            .select-ordenar,
                            .input-fecha {
                                width: 100%;
                                max-width: none;
                            }

                            #formBusqueda,
                            .opciones-ordenacion {
                                flex-direction: column;
                            }
                        }

                        .reservas-lista {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 15px;
                            justify-content: center;
                            // Generar scroll vertical
                            overflow-y: scroll;

                            .reserva-card {
                                background-color: #ffffff;
                                border: 1px solid #dee2e6;
                                border-radius: 8px;
                                padding: 15px;
                                width: 480px;
                                transition: transform 0.3s ease;
                                display: flex;
                                flex-direction: column;

                                &:hover {
                                    transform: translateY(-5px);
                                }

                                .detalles {
                                    display: flex;
                                    padding: 5px;
                                    justify-content: space-between;
                                    width: 100%;
                                    // justify-content: center;
                                    // align-items: center;

                                    .datos {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        // align-items: center;
                                    }

                                    .cliente {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 5px;

                                        p {
                                            font-size: 1em;
                                            margin: 5px 0;
                                            color: #495057;
                                        }

                                        i {
                                            font-size: 5.5em;
                                            color: #007bff;
                                        }
                                    }
                                }

                                h2 {
                                    font-size: 1.5em;
                                    margin-bottom: 10px;
                                    color: #007bff;
                                    animation: fadeInDown 1s ease-in-out;
                                }

                                p {
                                    margin: 5px 0;
                                    font-size: 1em;
                                    color: #495057;
                                }

                                .acciones {
                                    margin-top: 15px;
                                    text-align: right;

                                    button {
                                        padding: 10px 15px;
                                        border: none;
                                        border-radius: 5px;
                                        font-size: 1em;
                                        cursor: pointer;
                                        color: #ffffff;
                                        transition:
                                            background-color 0.3s ease,
                                            transform 0.2s ease;

                                        &:hover {
                                            transform: scale(1.05);
                                        }

                                        &:active {
                                            transform: scale(1);
                                        }

                                        @keyframes fadeIn {
                                            from {
                                                opacity: 0;
                                            }
                                            to {
                                                opacity: 1;
                                            }
                                        }

                                        @keyframes fadeInDown {
                                            from {
                                                opacity: 0;
                                                transform: translateY(-10px);
                                            }
                                            to {
                                                opacity: 1;
                                                transform: translateY(0);
                                            }
                                        }
                                    }

                                    .generar-factura-btn {
                                        background-color: #28a745;
                                    }

                                    .visualizar-factura-btn {
                                        background-color: #17a2b8;
                                    }
                                }
                            }
                        }
                    }

                    //? PARA MOSTRAR LAS RESERVAS DE LOS CLIENTES PENDIENTES
                    .reservas-pendientes {
                        width: 100%;
                        background-color: #ffffff;
                        padding: 10px;
                        text-align: center;
                        // margin-top: 30px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        animation: fadeIn 0.3s ease-in-out;

                        @keyframes fadeIn {
                            from {
                                opacity: 0;
                                transform: translateY(20px);
                            }
                            to {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }

                        h1 {
                            text-align: center;
                            color: #333;
                            // margin-bottom: 20px;
                            font-size: 28px;
                        }

                        .buscar-reservas {
                            justify-content: space-between;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10px;
                            width: 100%;
                            background-color: #ffffff;
                            border-radius: 10px;
                            box-shadow: 0 5px 8px rgba(14, 50, 208, 0.234);

                            #formBusqueda {
                                width: 60%;
                                display: flex;
                                gap: 15px;
                                justify-content: center;
                                align-items: center;

                                .input-contenedor {
                                    position: relative;
                                    width: 100%;
                                    max-width: 400px;

                                    .input-busqueda {
                                        width: 100%;
                                        padding: 10px 20px 10px 40px; /* Espacio para el icono a la derecha */
                                        border: 1px solid #ddd;
                                        border-radius: 5px;
                                        font-size: 16px;
                                    }

                                    .icono-busqueda {
                                        position: absolute;
                                        top: 50%;
                                        left: 15px; /* Ajusta según sea necesario */
                                        transform: translateY(-50%);
                                        color: #888; /* Color del icono */
                                        cursor: pointer;
                                        font-size: 16px;
                                    }
                                }
                                /* Icono de búsqueda más grande en pantallas pequeñas */
                                @media (max-width: 768px) {
                                    .icono-busqueda {
                                        font-size: 18px;
                                        right: 10px; /* Ajusta según sea necesario */
                                    }
                                }

                                .fecha-rango {
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                }

                                .input-fecha {
                                    padding: 8px;
                                    border: 1px solid #ddd;
                                    border-radius: 5px;
                                    font-size: 14px;
                                }

                                .fecha-reserva {
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                }

                                .btn-buscar {
                                    padding: 10px 20px;
                                    background-color: #007bff;
                                    color: #ffffff;
                                    border: none;
                                    border-radius: 5px;
                                    cursor: pointer;
                                    font-size: 16px;
                                    transition: background-color 0.3s ease;

                                    &:hover {
                                        background-color: #0056b3;
                                    }
                                }
                            }

                            .opciones-ordenacion {
                                width: 40%;
                                display: flex;
                                gap: 15px;
                                justify-content: center;
                                align-items: center;

                                .select-ordenar {
                                    padding: 8px;
                                    border: 1px solid #ddd;
                                    border-radius: 5px;
                                    font-size: 14px;
                                    width: 100%;
                                    max-width: 200px;
                                }
                            }
                        }

                        /* Responsivo */
                        @media (max-width: 768px) {
                            .buscar-reservas {
                                max-width: 95%;
                                padding: 15px;
                            }

                            .input-busqueda,
                            .select-ordenar,
                            .input-fecha {
                                width: 100%;
                                max-width: none;
                            }

                            #formBusqueda,
                            .opciones-ordenacion {
                                flex-direction: column;
                            }
                        }

                        .reservas-container {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 20px;
                            justify-content: center;
                            overflow-y: scroll;
                            margin-top: 15px;

                            .reserva-card {
                                background-color: #ffffff;
                                border: 1px solid #e2e8f0;
                                border-radius: 10px;
                                width: 100%;
                                max-width: 350px;
                                padding: 20px;
                                transition:
                                    transform 0.3s ease,
                                    box-shadow 0.3s ease;
                                cursor: pointer;

                                &:hover {
                                    transform: translateY(-5px);
                                    box-shadow: 0 8px 12px rgba(14, 49, 208, 0.204);
                                }

                                .text_reserva {
                                    font-size: 1.5rem;
                                    margin-bottom: 15px;
                                    color: #007bff;
                                }

                                .datos-reserva {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 20px;
                                    text-align: left;

                                    .datos {
                                        background-color: #f9fafb;
                                        padding: 15px;
                                        border-radius: 8px;
                                        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);

                                        h2 {
                                            font-size: 1.2rem;
                                            margin-bottom: 10px;
                                            color: #374151;
                                        }
                                        p {
                                            margin: 5px 0;
                                            font-size: 0.9rem;
                                            color: #4b5563;
                                        }
                                    }

                                    .detalles-reserva {
                                        background-color: #f9fafb;
                                        padding: 15px;
                                        border-radius: 8px;
                                        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);

                                        h2 {
                                            font-size: 1.2rem;
                                            margin-bottom: 10px;
                                            color: #374151;
                                        }
                                        p {
                                            margin: 5px 0;
                                            font-size: 0.9rem;
                                            color: #4b5563;
                                        }
                                    }
                                }

                                .acciones {
                                    display: flex;
                                    justify-content: space-between;
                                    gap: 10px;
                                    margin-top: 20px;

                                    button {
                                        padding: 10px 15px;
                                        border: none;
                                        border-radius: 5px;
                                        font-size: 16px;
                                        cursor: pointer;
                                        transition: background-color 0.3s;
                                    }

                                    .confirm-btn {
                                        width: 45%;
                                        padding: 10px;
                                        font-size: 0.9rem;
                                        border-radius: 5px;
                                        border: none;
                                        cursor: pointer;
                                        transition:
                                            background-color 0.3s ease,
                                            color 0.3s ease;
                                        background-color: #38a169; /* Verde para confirmar */
                                        color: #ffffff;

                                        &:hover {
                                            background-color: #218838;
                                        }
                                    }

                                    .cancel-btn {
                                        width: 45%;
                                        padding: 10px;
                                        font-size: 0.9rem;
                                        border: none;
                                        border-radius: 5px;
                                        cursor: pointer;
                                        transition:
                                            background-color 0.3s ease,
                                            color 0.3s ease;
                                        background-color: #e53e3e; /* Rojo para rechazar */
                                        color: #ffffff;

                                        &:hover {
                                            background-color: #c82333;
                                        }
                                    }
                                }
                            }
                        }

                        @media (max-width: 768px) {
                            .reservas-container {
                                flex-direction: column;
                                align-items: center;
                            }

                            .reserva-card {
                                width: 100%;
                                max-width: none;
                            }
                        }
                    }

                    //? PARA MOSTRAR LAS FACTURAS DE LAS RESERVAS

                    .factura-contenido {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;
                        padding: 20px;
                        width: 100%;
                        height: 100%;
                        overflow-y: scroll;
                        font-family: Arial, sans-serif;
                        background-color: #f9f9f9;
                    
                        .factura-container {
                            padding: 20px;
                            box-shadow: 0 5px 8px rgba(14, 50, 208, 0.234);
                            border-radius: 10px;
                            background-color: #ffffff;
                    
                            .factura-header {
                                display: flex;
                                justify-content: space-between;
                                border-bottom: 2px solid #005f91;
                                padding-bottom: 10px;
                                margin-bottom: 20px;
                    
                                .factura-logo img {
                                    max-width: 130px;
                                    height: auto;
                                }
                    
                                .factura-info {
                                    h1 {
                                        font-size: 24px;
                                        color: #005f91;
                                        margin-bottom: 10px;
                                    }
                    
                                    p {
                                        margin: 0;
                                        font-size: 14px;
                                    }
                                }
                            }
                    
                            .factura-body {
                                margin-bottom: 20px;
                    
                                .factura-section {
                                    margin-bottom: 20px;
                    
                                    h2 {
                                        font-size: 18px;
                                        background-color: #005f91;
                                        color: white;
                                        padding: 5px;
                                        margin: 0;
                                    }
                    
                                    .factura-column {
                                        display: grid;
                                        grid-template-columns: 2fr 2fr; /* Ajusta la proporción entre el label y el valor */
                                        gap: 20px; /* Espacio entre las columnas */
                                        padding: 8px;
                                        align-items: center; /* Alinea verticalmente los elementos */
                    
                                        p {
                                            margin: 4px 0;
                                            font-size: 15px;
                                            display: flex;
                                            justify-content: space-between;
                                        }
                                    }
                                }
                            }
                        }
                    
                        .factura-footer {
                            text-align: center;
                            margin-top: 20px;
                            font-size: 14px;
                            border-top: 2px solid #005f91;
                            padding-top: 10px;
                        }
                    }
                    


                    .factura-print {
                        text-align: center;
                        margin-top: 20px;

                        .print-button {
                            background-color: #005f91;
                            color: white;
                            border: none;
                            padding: 10px 20px;
                            font-size: 16px;
                            cursor: pointer;
                            border-radius: 5px;
                            transition: background-color 0.3s;

                            &:hover {
                                background-color: #003f5c;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        background: rgb(36, 171, 238);
        width: 100%;
        padding: 20px;
        // margin-top: auto;
        height: 7%;

        p {
            color: white;
            text-align: center;
            font-size: 18px;
        }
    }
}
