@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.container .container-menu {
  width: 20%;
  height: 100%;
  padding: 5px;
  padding-top: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(3, 3, 66, 0.951);
}
.container .container-menu .perfil-hotel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .container-menu .perfil-hotel img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.container .container-menu .perfil-hotel h2 {
  color: white;
}
.container .container-menu .menu-opciones {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.container .container-menu .menu-opciones .opciones a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
}
.container .container-menu .menu-opciones .opciones a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.container .container-main {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
.container .container-main .menu-navegacion {
  display: flex;
  justify-content: space-between;
  height: 10%;
  background: rgb(34, 75, 142);
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container .container-main .menu-navegacion .home-link {
  text-decoration: none;
  font-size: 24px;
  color: #1e1e1e;
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease;
}
.container .container-main .menu-navegacion .home-link i {
  margin-right: 8px;
}
.container .container-main .menu-navegacion .home-link:hover {
  transform: scale(1.1);
  color: #3c95f5;
}
.container .container-main .menu-navegacion p a {
  color: white;
}
.container .container-main .menu-navegacion .perfil {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}
.container .container-main .menu-navegacion .perfil img {
  width: 50px;
  height: 60px;
  border-radius: 50%;
}
.container .container-main .contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82%;
}
.container .container-main .contenido .reservas {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
.container .container-main .contenido .reservas .menu-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 20px;
  width: 100%;
  height: 10%;
  background: rgba(30, 130, 172, 0.853);
}
.container .container-main .contenido .reservas .menu-navigation ul {
  display: flex;
  list-style: none;
  padding: 10px;
  width: 70%;
  justify-content: space-between;
}
.container .container-main .contenido .reservas .menu-navigation ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
}
.container .container-main .contenido .reservas .menu-navigation ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.container .container-main .contenido .reservas .reserva-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 90%;
  width: 100%;
}
.container .container-main .contenido .reservas .reserva-contenido img {
  width: 800px;
  height: 500px;
  border-radius: 10px;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas {
  padding: 20px;
  background-color: #f8f9fa;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas h1 {
  text-align: center;
  font-size: 2em;
  color: #343a40;
  animation: fadeIn 1s ease-in-out;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  overflow-y: scroll;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 15px;
  width: 480px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card:hover {
  transform: translateY(-5px);
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card .detalles {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  width: 100%;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card .detalles .datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card .detalles .cliente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card .detalles .cliente p {
  font-size: 1em;
  margin: 5px 0;
  color: #495057;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card .detalles .cliente i {
  font-size: 5.5em;
  color: #007bff;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #007bff;
  animation: fadeInDown 1s ease-in-out;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card p {
  margin: 5px 0;
  font-size: 1em;
  color: #495057;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card .acciones {
  margin-top: 15px;
  text-align: right;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card .acciones button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card .acciones button:hover {
  transform: scale(1.05);
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card .acciones button:active {
  transform: scale(1);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card .acciones .generar-factura-btn {
  background-color: #28a745;
}
.container .container-main .contenido .reservas .reserva-contenido .historial-reservas .reservas-lista .reserva-card .acciones .visualizar-factura-btn {
  background-color: #17a2b8;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  height: 100%;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes h1 {
  text-align: center;
  color: #333;
  font-size: 28px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
  width: 100%;
  overflow-y: scroll;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card {
  margin-top: 5px;
  background-color: #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background: rgba(147, 236, 221, 0.5058823529);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  height: 350px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .text_reserva {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(5, 130, 5);
  text-align: center;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva .datos {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva .datos h2 {
  text-align: center;
  color: rgb(29, 72, 213);
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva .datos p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva .detalles-reserva {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva .detalles-reserva h2 {
  text-align: center;
  color: rgb(29, 72, 213);
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva .detalles-reserva p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .acciones {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .acciones button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .acciones .confirm-btn {
  background-color: #28a745;
  color: white;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .acciones .confirm-btn:hover {
  background-color: #218838;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .acciones .cancel-btn {
  background-color: #dc3545;
  color: white;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .acciones .cancel-btn:hover {
  background-color: #c82333;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: auto;
  /* Diseño adicional opcional para darle más vida */
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-logo {
  text-align: left;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-logo .logo {
  width: 70px;
  height: 70px;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-header {
  text-align: center;
  margin-bottom: 20px;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-header h1 {
  font-size: 32px;
  color: #333;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-header p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-body {
  border-top: 2px solid #007bff;
  border-bottom: 2px solid #007bff;
  padding: 20px 0;
  margin-bottom: 20px;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-body .factura-section {
  margin-bottom: 20px;
  /* Estilos para las tablas de datos */
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-body .factura-section h2 {
  font-size: 18px;
  color: #007bff;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-body .factura-section p {
  font-size: 14px;
  color: #333;
  margin: 4px 0;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-body .factura-section .factura-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-body .factura-section .factura-table th, .container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-body .factura-section .factura-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-body .factura-section .factura-table th {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-footer {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-footer p {
  font-size: 12px;
  color: #666;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-container .factura-footer strong {
  color: #333;
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-print .print-button {
  background-color: #28a745; /* Color verde elegante */
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-print .print-button:hover {
  background-color: #218838; /* Color más oscuro al pasar el mouse */
  transform: scale(1.05); /* Efecto de zoom */
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-print .print-button i {
  margin-right: 10px;
  font-size: 22px; /* Tamaño del icono */
}
.container .container-main .contenido .reservas .reserva-contenido .factura-contenido .factura-print .print-button:active {
  background-color: #1e7e34; /* Color cuando se hace clic */
  transform: scale(1); /* Remover el zoom al hacer clic */
}
.container .container-main footer {
  background: rgb(36, 171, 238);
  width: 100%;
  padding: 20px;
  height: 8%;
}
.container .container-main footer p {
  color: white;
  text-align: center;
  font-size: 18px;
}/*# sourceMappingURL=administracion.css.map */