* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.container .container-menu {
  width: 20%;
  height: 100%;
  padding: 5px;
  padding-top: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(3, 3, 66, 0.951);
}
.container .container-menu .perfil-hotel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .container-menu .perfil-hotel img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.container .container-menu .perfil-hotel h2 {
  color: white;
}
.container .container-menu .menu-opciones {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.container .container-menu .menu-opciones .opciones a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
}
.container .container-menu .menu-opciones .opciones a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.container .container-main {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
.container .container-main .menu-navegacion {
  display: flex;
  justify-content: space-between;
  height: 10%;
  background: rgb(34, 75, 142);
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container .container-main .menu-navegacion p a {
  color: white;
}
.container .container-main .menu-navegacion .perfil {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}
.container .container-main .menu-navegacion .perfil img {
  width: 50px;
  height: 60px;
  border-radius: 50%;
}
.container .container-main .contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82%;
}
.container .container-main .contenido .reservas {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
.container .container-main .contenido .reservas .menu-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 20px;
  width: 100%;
  height: 10%;
  background: rgba(30, 130, 172, 0.853);
}
.container .container-main .contenido .reservas .menu-navigation ul {
  display: flex;
  list-style: none;
  padding: 10px;
  width: 70%;
  justify-content: space-between;
}
.container .container-main .contenido .reservas .menu-navigation ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
}
.container .container-main .contenido .reservas .menu-navigation ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.container .container-main .contenido .reservas .reserva-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 90%;
  width: 100%;
}
.container .container-main .contenido .reservas .reserva-contenido img {
  width: 800px;
  height: 500px;
  border-radius: 10px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  height: 100%;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes h1 {
  text-align: center;
  color: #333;
  font-size: 28px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card {
  background-color: #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background: rgba(147, 236, 221, 0.5058823529);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  height: 330px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .text_reserva {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(5, 130, 5);
  text-align: center;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva .datos {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva .datos h2 {
  text-align: center;
  color: rgb(29, 72, 213);
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva .datos p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva .detalles-reserva {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva .detalles-reserva h2 {
  text-align: center;
  color: rgb(29, 72, 213);
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .datos-reserva .detalles-reserva p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .acciones {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .acciones button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .acciones .confirm-btn {
  background-color: #28a745;
  color: white;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .acciones .confirm-btn:hover {
  background-color: #218838;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .acciones .cancel-btn {
  background-color: #dc3545;
  color: white;
}
.container .container-main .contenido .reservas .reserva-contenido .reservas-pendientes .reservas-container .reserva-card .acciones .cancel-btn:hover {
  background-color: #c82333;
}
.container .container-main footer {
  background: rgb(36, 171, 238);
  width: 100%;
  padding: 20px;
  height: 8%;
}
.container .container-main footer p {
  color: white;
  text-align: center;
  font-size: 18px;
}/*# sourceMappingURL=administracion.css.map */